@using GameScout.Domain.Models

@if (Deal is not null)
{
    <div class="card">
        <div>
            <img src="@Deal.Image"
                 alt="@Deal.Store"
                 loading="lazy"
                 />


            <div>
                <div>@Deal?.Store</div>
                <div>
                    <div>$@Deal!.Price.ToString("F2")</div>

                    @if (Deal.NormalPrice > 0 && Deal!.NormalPrice != Deal.Price)
                    {
                        <div>
                            $@Deal.NormalPrice.ToString("F2")
                        </div>
                        @if (Deal.Savings > 0)
                        {
                            <span class="badge bg-success">-@Math.Round(Deal!.Savings)%</span>
                        }
                    }
                </div>
                <a href="@Deal.Url" target="_blank" rel="noopener">Open</a>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public Deal? Deal { get; set; }
}
