@inherits LayoutComponentBase

<div id="app-shell">
    <NavMenu />

    <div id="app-content">
        <main class="content">
            @Body
            <footer class="app-footer">GameScout • © @DateTime.Now.Year</footer>
        </main>
    </div>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
