<nav id="sidebar" aria-label="Primary">
    <a href="/" class="brand"><span>GameScout</span></a>

    <ul class="nav">
        <li>
            <NavLink class="nav-item" href="/" Match="NavLinkMatch.All">
                Search
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-item" href="/deals">
                Deals
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-item" href="/backlog">
                Backlog
            </NavLink>
        </li>
    </ul>
</nav>
