@using DealModel = GameScout.Domain.Models.Deal
@page "/deals"
@inject IDealsService DealsService

<h3>Deals</h3>
@if (_loading)
{
    <p>Loading...</p>
}
else if (_deals.Count == 0)
{

    <p>No deals</p>
}
else
{
    foreach (var d in _deals)
    {
        <DealCard Deal="d" />
    }
}

@code {
    private readonly List<DealModel> _deals = new();
    private bool _loading;

    protected override Task OnInitializedAsync()
    {
        _loading = true;
        _deals.Clear();
        _loading = false;
        return Task.CompletedTask;
    }
}
